{% extends 'base.html' %}
{% block body %}
{% load static %}

<div class="bg-red-100 h-[150px] ml-[20px] mr-[20px]">
    <br>
    <h1 class="font-bold  text-red-600 text-[40px] ml-[10px]">About Us</h1>
    <br>
    <h4 class="font-semibold ml-[10px]">Know about Blood Donor. What, how, and why.</h4>

</div>
<br>
<div class="flex justify-between">
    <div class="w-[400px] ml-[35px]">
        <h4 class="font-semibold ">Blood Donor is an automated blood service that connect blood searchers with voluntary blood donors in a moment through SMS and website. Blood Donor is a free service for all. Blood Donor started its March in 2023.</h4>
        <br>
        <h1 class="font-bold   text-[30px] ">Why Blood Donor?</h1>
        <br>
        <h4 class="font-semibold ">Though Bangladesh has more than 160 million people, 
    the number of safe blood bank is very few. Without divisional towns, there is 
    hardly any blood bank. But a huge amount of blood is needed for treatment purposes.
     A good number of accidents take place every day where blood needs essentially. As a result, people fall in real trouble to manage blood.
     But there are many blood donors who are interested in donating blood but don’t know who needs blood. The communication gap is resulting in the loss of many lives.
    <br> <br>  Blood Donor comes into the scenario to reduce or minimize the communication 
    gap and connects people in a moment using the amazing power of SMS and email. As Blood Donor
     services can also be availed by SMS, people from any class of the society can easily avail of Blood Donor services.
    </h4>
    
    </div>
    <div class="">
        <h1 class="font-bold   text-[30px] ">Vision</h1>
   
        <br>
        <h4 class="font-semibold ">Ensuring no more death just for the need of blood</h4>
        <br>
        <h1 class="font-bold   text-[30px] ">Mision</h1>
   
        <br>
        <h4 class="font-semibold ">Connecting blood searchers with voluntary blood 
            donors in a moment with the use of technology.</h4>
            <br>

            <h1 class="font-bold   text-[30px] ">Objectives</h1>
            <ul>
                <li>Encouraging voluntary blood donation</li>
                <li>Creating awareness about safe blood transfer</li>
                <li>Enabling people to place blood request via SMS, website, or facebook</li>
                <li>Connecting voluntary blood donors via SMS or emailp</li>
            </ul>
    </div>
</div>
{% endblock body %