
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
{% load static %}




<!-- component max-w-lg-->

<div class=" flex justify-center ">
  <div class="px-5 py-4 bg-white dark:bg-gray-800 shadow rounded-lg max-w-lg">
    <div class="flex mb-4">
      {% if   comment.author.userprofile.image.url  %}
      <img class="w-12 h-12 rounded-full" src="{{ comment.author.userprofile.image.url }}"/>
      {% else %}
      <img class="w-12 h-12 rounded-full" src="{% static '/images/demo.png' %}"/>
      {% endif %}
      <div class="ml-2 mt-0.5">
        <span class="block font-medium text-base leading-snug text-black font-bold dark:text-gray-100"><a href="/profile/{{post.author.username}}">{{ post.author }}</a></span>
        <span class="block text-sm text-gray-500 dark:text-gray-400 font-light leading-snug">{{ post.created_at }}</span>
       <div class="flex">
        <button id="dropdownComment2Butto" data-dropdown-toggle="dropdownComment"
        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        type="button">
        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
            </path>
        </svg>
        <span class="sr-only">Comment settings</span>
    </button>
    <!-- Dropdown menu -->
    <div id="dropdownComment"
        class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownMenuIconHorizontalButton">
            {% if request.user == post.author %}
                      <li>
                          <a href="/edit/{{post.id}}"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                      </li>
                      {% endif %}

                      {% if request.user == post.author %}
                      <li>
                          <a href="/delete/{{post.id}}"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                      </li>
                     
                    {% endif %}
                      <li>
                          <a href="#"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                      </li>
        </ul>
    </div>
  </div>
    <!-- Dropdown menu -->
      </div>
    </div>
    {% if  post.image %}
    <br>
    <img class="w-[450px] h-[350px]" src="{{ post.image.url }}"/>
    <br>
    {% endif %}
    <p class="text-black dark:text-gray-100 leading-snug md:leading-normal" style="word-wrap: break-word;">{{post.content}}</p>
    <div class="flex justify-between items-center mt-5  p-6 mb-6 border-t border-gray-200 dark:border-gray-700">
    <div class="flex ">
      {% if user.is_authenticated %}
      <form action="/like/{{post.id}} " method="post" > 
        {% csrf_token %}
        
        {% if request.user in post.likes.all %}
        <button type="submit" class="text-blue-500" name="unlike">Unlike</button>
        {% else %}
        <button class="text-gray-500 dark:text-gray-400 font-light"  type="submit" name="like">Like</button>
      {% endif %}
       <!-- <button type= "submit" name="post_id" value="{{post.id}}">Like</button> -->
      </form>
      {% else %}
      <a class="text-gray-500 dark:text-gray-400 font-light"  href="/login/"><button type="submit" name="like">Like</button></a>
      {% endif %}
      <span class="ml-1 text-gray-500 dark:text-gray-400  font-light">{{post.total_likes}}</span>
    </div>  
    <div class="ml-1 text-gray-500 dark:text-gray-400 font-light">{{ln}} comments</div>
    </div>
    <div class="border-t border-gray-200 dark:border-gray-700"></div>
    <br>
    <br>
    <section class="bg-white dark:bg-gray-900  ">
      <div class="max-w-2xl mx-auto px-4">
          <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion {{ln}}</h2>
        </div>
        {% if user.is_authenticated %}
        <form class="mb-6" method="POST" action=""enctype="multipart/form-data">
           {% csrf_token %}
            <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                <label for="comment" class="sr-only">Your comment</label>
                
                   
                    {{ form.content|attr:"rows:6" |attr:"minlength:1" |attr:"class:px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800" |attr:"placeholder:Write a comment..."}}
                
             </div>
             <div class="flex justify-between">
             {{form.image |attr:""}} 
            <button type="submit"
                class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white  bg-gray-900 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Post comment
            </button></div>
        </form>
          {% endif %}
          
         <br>
          {% for comment in comments %}
        <article class="p-6 mb-6 ml-6 lg:ml-12 border-t border-gray-300 dark:border-gray-700 text-base bg-gray-100 rounded-lg dark:bg-gray-900">
            <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                    <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                      {% if   comment.author.userprofile.image.url  %}
                      <img class="mr-2 w-6 h-6 rounded-full"                     
                            src="{{ comment.author.userprofile.image.url }}"      
                            alt="{{ comment.author }}"><a class="text-black font-bold" href="/profile/{{comment.author.username}}">{{ comment.author }}</a></p>
                            {% else %}
                            <img class="mr-2 w-5 h-5 rounded-full"                     
                            src=" {% static '/images/demo.png' %}"      
                            alt="{{ comment.author }}"><a class="text-black font-bold"  href="/profile/{{comment.author.username}}">{{ comment.author }}</a></p>                       
                            {% endif %}
                    <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-12"
                            title="comment_created"> {{comment.created_at}}</time></p>
                </div>
                <button id="dropdownComment2Button" data-dropdown-toggle="dropdownComment2"
                    class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    type="button">
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                        </path>
                    </svg>
                    <span class="sr-only">Comment settings</span>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdownComment2"
                    class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownMenuIconHorizontalButton">
                        {% if request.user == comment.author %}
                        <li>
                            <a href="/comment-edit/{{comment.id}}/{{post.id}}"
                                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                        </li>
                        {% endif %}
    
                        {% if request.user == comment.author %}
                        <li>
                            <a href="/comment-delete/{{comment.id}}/{{post.id}}"
                                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                        </li>
                        {% elif request.user == post.author %}
                        <li>
                          <a href="/comment-delete/{{comment.id}}/{{post.id}}"
                              class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                      </li>
                      {% endif %}
                        <li>
                            <a href="#"
                                class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                        </li>
                    </ul>
                </div>
            </footer>
            {% if  comment.image %}
            <br>
            <img class="w-[450px] h-[350px]" src="{{comment.image.url }}"/>
            <br>
            {% endif %}
            <p class="text-black  dark:text-gray-400"> {{comment.content}}</p>
    
            
            <form action="/cmntlike/{{comment.id}}/{{post.id}}" method="post" >  {% csrf_token %}
            <div class="flex items-center mt-4 space-x-4">
              {% if user.is_authenticated %}
              {% if request.user in comment.cmnt_likes.all %}
                <button type="submit" name="unlike"
                    class="flex items-center text-sm text-blue-600  hover:underline dark:text-gray-400">
                    <!-- <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg> -->
                    Unlike
                </button>
                {% else %}
                <button type="submit" name="like"
                    class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                    <!-- <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg> -->
                    Like 
                </button>
                {% endif %}
                {% else %}
                <a href="/login/"><button type="submit" name="like">Like</button></a>
                
            </div>
           </form > 
           
            {% endif %}
            <span class="ml-1 text-gray-500 dark:text-gray-400  font-light">{{comment.total_likes}}</span>
        </article>
        {% empty %}
      <p class="ml-[425px] text-gray-800 dark:text-white-200">No comments yet</p>
      {% endfor %}
      </div>
    </section>

  </div>
  <br>
 
</div>




  {% endblock body %}